<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="Modal.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

	<body>
		<div class="container">
			<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
		<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<div class="container-fluid">
								<div class="row">
									<div class="col-lg-1">
										<img src="Icons/text-document-with-title.png" height="32" width="32">
									</div>
									<div class="col-lg-10">
											<span class="taskTitle">Unit test Python script</span>
									</div>
									<div class="col-lg-1">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-body">
							<div class="container-fluid">
								<div class="row">
									<div class="offset-lg-1 col-lg-3">
										<span class="taskMembers">Members</span><br>
										<img src="Icons/man (1).png" height="32" width="32">&nbsp;
										<img src="Icons/man.png" height="32" width="32">
									</div>
									<div class="col-lg-2">
										<span class="taskLimit">Limit</span><br>
										<span class="taskLimitExample">10/12/2018</span>
									</div>
									<div class="col-lg-2">
										<span class="taskLanguage">Language</span><br>
										<span class="taskLanguageExample">Python</span>
									</div>
									<div class="offset-lg-3 col-lg-1">
											<span class="taskPrice">30$</span>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-1">
										<img src="Icons/github-logo.png" height="32" width="32">
									</div>
									<div class="col-lg-11">
										<span class="taskRepoGit">Repo Git</span><br>
										<span class="taskRepoGitExample">https://github.com/kayofeld/script-installation-ordinateur-epitech.git</span>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-1">
										<img src="Icons/document.png" height="32" width="32">
									</div>
									<div class="col-lg-11">
										<span class="taskDescription">Description</span><br>
										<span class="taskDescriptionExample">I am trying to make my python script very user friendly, so I like to write some sort of help for it. What is your advise for this? I could just put in some logic that if the user passed help as a paramater to the script, they get help. Is there a best practise or convention for this?</span>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

<script>
	$(window).load(function()
	{
		$('#myModal').modal('show');
	});
</script>